<div>
  <mat-list>
    <div class="container">
      <mat-list-item> Nombre </mat-list-item>
      <mat-list-item> Correo electrónico </mat-list-item>
      <mat-list-item> Nombre Tarea </mat-list-item>
      <mat-list-item> Persona Asignada </mat-list-item>
      <mat-list-item> Nivel de tarea </mat-list-item>
      <mat-list-item> Editar </mat-list-item>
    </div>
    <div *ngFor="let task of tasks" class="container">
      <mat-list-item> {{ task.name }} </mat-list-item>
      <mat-list-item> {{ task.email }} </mat-list-item>
      <mat-list-item> {{ task.taskname }} </mat-list-item>
      <mat-list-item> {{ task.assignedperson }} </mat-list-item>
      <mat-list-item> {{ task.selection }} </mat-list-item>
      <mat-list-item>
        <button mat-raised-button color="primary" (click)="editTask(task)">Editar</button>
      </mat-list-item>
    </div>
    <h3 *ngIf="tasks.length === 0">No hay tareas para mostrar</h3>
  </mat-list>
</div>
